.section {
  background-color: var(--background-color);
  overflow-y: hidden;
}

.container {
  max-width: 256rem;
  /* max-width: 180em; */
  display: flex;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 2px solid var(--primary-color);
}

.border-top {
  border-top: 2px solid var(--primary-color);
}

@media (max-width: 1400px) {
  /* .section {
  height: 60rem;
  background-color: var(--background-color);
  overflow-y: hidden;
} */
}

@media (max-width: 1000px) {
  .section {
    height: 75rem;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
