.secondary-heading {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 9.6rem;
}

.secondary-heading::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-color);
}

.msg {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1600px) {
  .msg {
    font-size: 1.8rem;
  }
}

@media (max-width: 1500px) {
  .secondary-heading {
    gap: 0.6rem;
    margin-bottom: 4.8rem;
  }
}
@media (max-width: 800px) {
  .secondary-heading {
    font-size: 3.6rem;
  }
}

@media (max-width: 550px) {
  .secondary-heading {
    font-size: 3rem;
  }
  .secondary-heading::after {
    height: 0.1rem;
  }
  .msg {
    font-size: 1.6rem;
    text-align: center;
  }
}
