.company-roles {
  display: flex;
  flex-direction: column;
}

.company-roles button {
  height: 100%;
  font-weight: 500;
  user-select: none;
  border: none;
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--text-color-1);
  padding: 1.2rem 2.4rem;
  text-align: left;
  min-width: 15.6rem;
  font-size: 1.6rem;
  outline: 1px solid var(--border-color);
}

.company-name-btn:hover {
  transition: all 0.2s;
  background-color: var(--text-color-1);
  color: var(--background-color);
}

.company-roles .active {
  background-color: var(--text-color);
  color: var(--background-color);
}

@media (max-width: 1600px) {
  .company-roles button {
    /* padding: 1.8rem 2.4rem; */
    min-width: 15rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .company-roles {
    flex-direction: row;
    height: 100%;
    outline: 1px solid var(--border-color);
  }
  .company-roles button {
    text-align: center;
    margin-bottom: 0.2rem;
  }
  .company-roles {
    /* min-width: 100%; */
    overflow-x: scroll;
  }
}

@media (max-width: 550px) {
  .company-roles button {
    padding: 1rem 2rem;
    min-width: 13.5rem;
    font-size: 1.4rem;
  }
}
