.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  width: 80%;
}

.nav-lists {
  display: flex;
  gap: 3.6rem;
}

.nav-link {
  font-size: 1.8rem;
}

.icon-container {
  display: flex;
  align-items: center;
}

.theme-switch {
  width: 4.4rem;
  height: 2.3rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 2rem;
  background-color: var(--body-color);
  transition: all 0.3s;
}

.switch-active {
  transition: all 0.3s;
  margin-left: 21.8px;
  background-color: var(--body-color);
}

.nav-lists a {
  color: var(--text-color);
  transition: 0.5s;
}
.nav-lists a:hover {
  color: var(--primary-color);
}

.nav-lists a::after {
  margin-top: 0.4rem;
  content: "";
  display: flex;
  width: 0%;
  height: 1.8px;
  transition: all 0.4s ease-out;
  background-color: var(--text-color);
}
.nav-lists a:hover::after {
  content: "";
  width: 100%;
  background-color: var(--primary-color);
  transform: translateX(0%);
  visibility: visible;
}

.icon {
  font-size: 1.2rem;
}

.icon-moon,
.icon-sun {
  color: var(--text-color);
}

@media (max-width: 1500px) {
  .theme-switch {
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 1.8px;
  }

  .switch {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 2rem;
  }
  .switch-active {
    margin-left: 20.2px;
  }
}

@media (max-width: 1300px) {
  .nav-lists {
    gap: 2.4rem;
  }
}

@media (max-width: 800px) {
  .nav-lists {
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 50;
    background-color: var(--background-color);
    width: 100vw;
    height: 5rem;
    transition: 0.3s;
  }

  .icon-nav {
    color: var(--text-color);
    font-size: 4rem;
    margin-right: 1rem;
  }
  .nav-container {
    background-color: var(--background-color);
    position: absolute;
    top: 5rem;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    display: flex;
    transform: translateY(-100%);
  }
  .icon-container-ative {
    position: fixed;
  }
  .active {
    transition: 0.3s;
    transform: translateY(0%);
    position: fixed;
  }
}
