.title-container {
  margin: auto 0;
}

.title-primary {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
  letter-spacing: -1px;
  color: var(--primary-color);
}

.title-secondary {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--text-color);
}
.title-tertiary {
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  color: var(--text-color-1);
}

.title-paragraph {
  max-width: 46rem;
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
  font-weight: 400;
  color: var(--text-color-1);
  text-align: justify;
}

.cta-btns {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.btn {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.btn-contact,
.btn-resume {
  user-select: none;
  border: 0.2rem solid transparent;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  overflow: hidden;
}

.resume-icon,
.contact-icon {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

.btn-resume {
  background-color: transparent;
  outline: 0.2rem solid var(--text-color);
  color: var(--text-color);
  border: none;
}
.btn-resume::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
}
.btn-resume:hover::after {
  transition: 0.3s ease-out;
  transform: translateX(0%);
  background-color: var(--text-color);
}

.btn-contact {
  color: var(--background-color);
  background-color: var(--primary-color);
}
.btn-contact:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition: 0.2s ease-out;
}

.btn-contact:active {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.btn-resume:hover {
  color: var(--background-color);
  outline: 0.2rem solid var(--text-color);
}

.btn-resume:active {
  transition: 0.2s ease-out;
  background-color: var(--background-color);
  color: var(--text-color);
  outline: 0.2rem solid var(--text-color);
}

@media (max-width: 1600px) {
  .title-primary {
    font-size: 5.6rem;
    margin-bottom: 1.2rem;
  }

  .title-secondary {
    font-size: 3.05rem;
    margin-bottom: 1.8rem;
  }
  .title-tertiary {
    font-size: 3.05rem;
    margin-bottom: 1.2rem;
  }

  .title-paragraph {
    max-width: 41rem;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2px;
    cursor: pointer;
  }
  .resume-icon,
  .contact-icon {
    font-size: 1.8rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 1200px) {
  .title-primary {
    font-size: 5rem;
    margin-bottom: 1.2rem;
  }

  .title-secondary {
    font-size: 2.7rem;
    margin-bottom: 1.8rem;
  }
  .title-tertiary {
    font-size: 2.7rem;
    margin-bottom: 1.2rem;
  }

  .title-paragraph {
    max-width: 40rem;
    margin-bottom: 2.6rem;
    text-align: left;
  }
  .btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  .resume-icon,
  .contact-icon {
    font-size: 1.7rem;
    margin-bottom: 0.1rem;
  }
}

@media (max-width: 1000px) {
  .title-container {
    margin: 0 0;
  }
}

@media (max-width: 550px) {
  .title-primary {
    font-size: 4.4rem;
  }

  .title-secondary {
    font-size: 2.37rem;
    margin-bottom: 1.8rem;
  }
  .title-tertiary {
    font-size: 2.37rem;
  }

  .title-paragraph {
    max-width: 37rem;
    margin-bottom: 2.2rem;
  }
  .btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 450px) {
  .title-primary {
    margin-bottom: 1.4rem;
  }

  .title-secondary {
    font-size: 2.36rem;
    margin-bottom: 1.8rem;
  }
  .title-tertiary {
    font-size: 2.36rem;
  }

  .title-paragraph {
    max-width: 31.5rem;
    margin-bottom: 2.2rem;
  }
  .btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 380px) {
  .title-primary {
    font-size: 3.4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .title-secondary {
    font-size: 1.82rem;
    margin-bottom: 1.4rem;
    text-align: center;
  }
  .title-tertiary {
    font-size: 1.82rem;
    text-align: center;
  }
  .title-paragraph {
    max-width: 27rem;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }
  .resume-icon,
  .contact-icon {
    font-size: 1.4rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 6.4rem 2.4rem;
  }
}
