.secondary-heading {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 8rem;
}

.secondary-heading::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-color);
}

.paragraph {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: justify;
}
.paragraph span:first-child {
  color: var(--primary-color);
}
.logo-container {
  margin-top: 3.2rem;
  display: flex;
  gap: 4.8rem;
}
.logo-container div {
  display: flex;
  gap: 0.4rem;
  align-items: flex-start;
}

.logo {
  font-size: 4.4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}
.logo-title {
  margin-top: -0.3rem;
  font-size: 1.4rem;
  color: var(--primary-color);
}
.secondary-paragraph {
  color: var(--text-color);
  font-size: 1.8rem;
  margin-top: 2.4rem;
}

@media (max-width: 1600px) {
  .secondary-heading {
    gap: 1.2rem;
    margin-bottom: 6.4rem;
  }

  .paragraph {
    font-size: 1.8rem;
  }

  .logo-container {
    margin-top: 3rem;
    gap: 4.4rem;
  }

  .logo-container div {
    gap: 0.4rem;
  }

  .logo {
    font-size: 4rem;
    margin-bottom: 0.6rem;
  }

  .logo-title {
    margin-top: 0.24rem;
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .secondary-paragraph {
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }
}

@media (max-width: 1500px) {
  .secondary-heading {
    gap: 0.6rem;
    margin-bottom: 4.8rem;
  }
}

@media (max-width: 800px) {
  .secondary-heading {
    font-size: 3.6rem;
  }
  .paragraph {
    font-size: 1.8rem;
  }

  .logo-container {
    margin-top: 2.4rem;
  }

  .logo-container div {
    gap: 0.2rem;
  }

  .logo {
    font-size: 4rem;
    margin-bottom: 0rem;
  }

  .secondary-paragraph {
    font-size: 1.6rem;
    margin-top: 2.4rem;
    line-height: 1.6;
  }
}

@media (max-width: 700px) {
  .logo-container {
    margin-top: 3rem;
    gap: 3.2rem;
    row-gap: 2.4rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .secondary-heading {
    font-size: 3rem;
  }
  .secondary-heading::after {
    height: 0.1rem;
  }
  .paragraph {
    font-size: 1.6rem;
  }

  .logo-container {
    margin-top: 2.2rem;
  }

  .logo-container div {
    gap: 0.2rem;
  }

  .logo {
    font-size: 3.6rem;
    margin-bottom: 0rem;
  }

  .secondary-paragraph {
    font-size: 1.4rem;
    margin-top: 2.2rem;
    line-height: 1.8;
  }
}
