.secondary-heading {
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 9.6rem;
}

.secondary-heading::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.card {
  display: flex;
  outline: 1px solid var(--primary-color);
  cursor: pointer;
}

.icon-container {
  background-color: var(--primary-color);
  height: 100%;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
}

.card-icon {
  font-size: 3.6rem;
  color: var(--text-color);
}

.container {
  align-self: start;
}

.content-container {
  display: flex;
  gap: 2.4rem;
  flex-basis: 90%;
  padding: 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
}

.course-provider {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--text-color-1);
}

.course-provider span {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.icon {
  font-size: 2.4rem;
}

.card:hover .content-container {
  transition: all 0.3s ease-out;
  background-color: var(--text-color);
}
.card:hover .title {
  transition: all 0.3s ease-out;
  color: var(--background-color);
}

.card:hover .card-icon {
  transition: all 0.1s ease-out;
  color: var(--background-color);
}

.card:hover .icon-container {
  transition: all 0.3s ease-out;
  background-color: var(--primary-color-1);
}

@media (max-width: 1600px) {
  .secondary-heading {
    gap: 1.2rem;
    margin-bottom: 6.4rem;
  }
  .grid {
    gap: 3rem;
  }

  .icon-container {
    padding: 2.2rem;
  }

  .card-icon {
    font-size: 3.5rem;
  }

  .content-container {
    gap: 2.2rem;
    padding: 2.2rem;
  }

  .title {
    font-size: 1.7rem;
    margin-bottom: 1.6rem;
  }

  .course-provider {
    font-size: 1.1rem;
  }

  .course-provider span {
    font-size: 1.3rem;
  }

  .icon {
    font-size: 2.3rem;
  }
}

@media (max-width: 1500px) {
  .secondary-heading {
    margin-bottom: 4.8rem;
    gap: 0.6rem;
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .content-container {
    flex-basis: 100%;
  }
}
@media (max-width: 800px) {
  .secondary-heading {
    font-size: 3.6rem;
  }
}

@media (max-width: 550px) {
  .secondary-heading {
    font-size: 3rem;
  }

  .secondary-heading::after {
    height: 0.1rem;
  }
  .grid {
    gap: 2.4rem;
  }

  .icon-container {
    width: 8rem;
    padding: 1.6rem;
  }

  .card-icon {
    font-size: 3rem;
  }

  .content-container {
    gap: 2rem;
    padding: 1.6rem;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    line-height: 1.4;
  }

  .course-provider {
    font-size: 1rem;
    line-height: 1.4;
  }

  .course-provider span {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 2.2rem;
  }
}

@media (max-width: 400px) {
  .icon-container {
    display: none;
  }
}
