.app[theme="light"] {
  --primary-color: #c39974;
  --primary-color-1: #815937;
  --background-color: #ffffff;
  --text-color: #0d0d0d;
  --text-color-1: #a6a6a6;
  --body-color: #f2f2f2;
}

.app[theme="dark"] {
  --primary-color: #c39974;
  --primary-color-1: #815937;
  --background-color: #0d0d0d;
  --text-color: #ffffff;
  --text-color-1: #a6a6a6;
  --body-color: #000000;
}
