* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 0.7;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

ul li,
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

section {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-track {
  background: var(--primary-color-1);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background-color);
  background: var(--primary-color);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}
