* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.3s ease-out; */
}

html {
  font-size: 62.5%;
  line-height: 0.7;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

ul li,
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

section {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  outline: 1px solid var(--border-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background-color);
  background: var(--primary-color);
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

@media (max-width: 550px) {
  ::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }
}
