* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 0.7;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

ul li,
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

section {
  border-bottom: 4px solid var(--primary-color);
}
